.container{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
    
}
.topnav{
    display: flex;
    /* margin: 0 30px ; */
    justify-content: space-around;
}
.topnavright{
    display: flex;
    gap:20px;
    justify-content: space-between;


}
.bottomnav{
    display: flex;
    gap:20px;
    margin: 0 50px ;
    justify-content: space-between;
}
.item{
    display: flex;
    gap:10px;
    justify-content: center;
}
.item2{
    display: flex;
    
    margin-top: 15px;
    margin-right:60%;
    gap:20px;
    justify-content: center;

}
.icon{
    margin-top: 10px;
}
.inputbottom{
    display: none;
}
.inputtop{
    display: block;
}

@media screen and (max-width: 984px){
    .heading{
        display: none;
    }
    .inputbottom{
        display: none;
    }
}
@media screen and (max-width: 710px){
    .bottomnav{
        display: none;
    }   
    .inputtop{
        display: none;
    }
    .inputbottom{
        display: block;
        margin: 0 ;
    }
}